
body {
  background-color: #000; /* white line at the bottom of page (temp fix) */
  background-image: url('../img/starwatchers.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.container .info {
    font-family: 'Gloria Hallelujah', cursive;
    line-height: 32px;
    text-transform: uppercase;
    margin-bottom: 35px;
}
.container .info h1 {
    font-size: 42px;
    letter-spacing: 5px;
    padding: 0;
    margin: 0;
    color: #fff;
    color: white;
    text-shadow:
    -2px -2px 0 #000,
    2px -2px 0 #000,
    -2px 2px 0 #000,
    2px 2px 0 #000;
}
.container .info h2 {
    font-size: 18px;
    line-height: 10px;
    letter-spacing: 3px;
    color: #fff;
    color: white;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.container .links a {
    text-decoration: none;
    margin: 3px;
}

.links img {
  width: 48px;
  height: 48px;
  opacity: 0.7;
  filter: alpha(opacity=70);
}

.links img:hover {
  opacity: 1;
  filter: alpha(opacity=100); /* IE8 and earler */
}

.footer {
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  line-height: 1vh;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  opacity: 0.6;
  filter: alpha(opacity=60); /* IE8 and earler */
}

.footer a {
  text-decoration: none;
  color: #fff;
}

@media screen and (max-width: 640px) {
@media screen and (max-width: 732px) {
@media screen and (max-width: 1366px) {
@media screen and (max-width: 1366px) {
    /* For mobile phones: */
    /* UNOPTIMISED */
    body {
      color: white;
      background-color: black;
      background-position: initial;
      background-size: 100vw 100vh;
    }
    .container .info {
      width: 100vw;
    }
    .container .info h1 {
        font-size: 100px;
    }
    .container .info h2 {
        font-size: 32px;
    }
    .links img {
      width: 90px;
      height: 90px;
      opacity: 0.7;
      filter: alpha(opacity=70);
    }
}
